@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans;
  }
}

/* Define the custom font family */
@layer base {
  :root {
    --font-sans: 'Manrope', sans-serif;
  }

  body {
    font-family: var(--font-sans);
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2a2a2a;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 100%;
  max-width: 480px; /* typical mobile width */
  margin: 0 auto; /* center the container */
  padding: 0 16px; /* padding on the left and right sides */
}

/* Apply mobile-specific styles */
@media (max-width: 480px) {
  .container {
    padding: 0 8px;
  }
}

/* Custom scrollbar for WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 10px; /* Change this value to adjust the scrollbar width */
  height: 10px;
}

::-webkit-scrollbar-track {
  background: transparent; /* Make the track invisible */
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1); /* Semi-transparent thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
}